.home-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  
  .cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 16px;
  }
  
  /* Estilos básicos para las cards (puedes personalizar según tus necesidades) */
  .card {
    width: 200px;
    padding: 16px;
    border: 1px solid #ccc;
    border-radius: 8px;
    margin: 8px;
    text-align: center;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .favButton {
    background-color: #1877f2; /* Color azul de Facebook */
    color: #fff; /* Texto blanco */
    border: none;
    padding: 8px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease; /* Transición suave del color de fondo */
  }
  
  .favButton:hover {
    background-color: #1565c0; /* Color más claro al pasar el ratón */
  }